{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "react-important-stuff"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-self-compare": 0,
    "semi": [2, "always"],
    "semi-spacing": [
      "error",
      {
        "after": true,
        "before": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json", ".jsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
